* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: "Montserrat", sans-serif;
}

footer {
  position: absolute;
  text-align: center;
  bottom: 0;
  width: 100%;
}

footer p {
  color: #ccc;
}

.note {
  background: #fff;  /* Card background */
  border-radius: 3px;  /* Trello-like rounded corners */
  box-shadow: 0 1px 0 rgba(9, 45, 66, 0.25);  /* Trello-like shadow */
  padding: 14px;
  width: 240px;
  margin: 16px;
  float: left;
  color: #333;  /* Text color */
}

.note h1 {
  font-size: 1.2em;
  margin-bottom: 6px;
}

.note p {
  font-size: 1em;
  margin-bottom: 10px;
}

